<script lang="ts">
    import Header from '$lib/components/Header.svelte'
    import NightSkyIcon from '$lib/icons/night-sky.svg'
</script>

<div class="w-full text-center flex flex-col items-center">
    <Header name="SvelteKit" />
    <p class="font-mono">
        Visit <a
            class="text-purple-500 hover:text-purple-600 hover:underline"
            href="https://kit.svelte.dev">kit.svelte.dev</a
        > to read the documentation
    </p>
    <p class="mt-4">
        <NightSkyIcon
            class="w-10 fill-purple-500 hover:fill-purple-600 transition-colors ease-in"
        />
    </p>
</div>
